In [2]:
# nuestras librerias a utilizar
import pandas as pd
import numpy as np


# Configuraci√≥n
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [4]:
df_world1=pd.read_csv("world-data-2023_part1.csv", index_col=0)

In [5]:
df_world1.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

In [11]:
df_world2=pd.read_csv("world-data-2023_part2.csv", index_col=0)

In [12]:
df_world2.head(2)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [6]:
df_world1.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [7]:
df_world1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                195 non-null    object
 1   Density
(P/Km2)        195 non-null    object
 2   Abbreviation           188 non-null    object
 3   Agricultural Land( %)  188 non-null    object
 4   Land Area(Km2)         194 non-null    object
 5   Armed Forces size      171 non-null    object
 6   Birth Rate             189 non-null    float64
 7   Calling Code           194 non-null    float64
 8   Capital/Major City     192 non-null    object
 9   Co2-Emissions          188 non-null    object
 10  CPI                    178 non-null    object
 11  CPI Change (%)         179 non-null    object
 12  Currency-Code          180 non-null    object
 13  Fertility Rate         188 non-null    float64
 14  Forested Area (%)      188 non-null    object
 15  Gasoline Price         175 non-null    object
dtypes: float64(3), object(13)
memory usage: 25.9+ KB

In [8]:
df_world1["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'SÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [13]:
df_world2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 19 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   GDP                                        193 non-null    object
 1   Gross primary education enrollment (%)     188 non-null    object
 2   Gross tertiary education enrollment (%)    183 non-null    object
 3   Infant mortality                           189 non-null    float64
 4   Largest city                               189 non-null    object
 5   Life expectancy                            187 non-null    float64
 6   Maternal mortality ratio                   181 non-null    float64
 7   Minimum wage                               150 non-null    object
 8   Official language                          190 non-null    object
 9   Out of pocket health expenditure           188 non-null    object
 10  Physicians per thousand                    188 non-null    float64
 11  Population                                 194 non-null    object
 12  Population: Labor force participation (%)  176 non-null    object
 13  Tax revenue (%)                            169 non-null    object
 14  Total tax rate                             183 non-null    object
 15  Unemployment rate                          176 non-null    object
 16  Urban_population                           190 non-null    object
 17  country                                    195 non-null    object
 18  coordinates                                195 non-null    object
dtypes: float64(4), object(15)
memory usage: 30.5+ KB

In [14]:
df_world2.columns

Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

In [15]:
df_world1.shape

(195, 16)

In [17]:
df_world2.shape

(195, 19)

In [16]:
df_world2["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'SÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
df_mergeado=pd.merge(left=df_world1, right=df_world2, how='inner', left_on='Country', right_on='country')

In [19]:
df_mergeado.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [20]:
df_mergeado.shape

(195, 35)

In [21]:
# Ejercicio 1

df_mergeado.drop(["Country"], axis=1, inplace=True)

In [22]:
df_mergeado.shape

(195, 34)

In [23]:
df_mergeado.head(2)

,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [24]:
# Ejercicio 2

df_mergeado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 34 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Density
(P/Km2)                            195 non-null    object
 1   Abbreviation                               188 non-null    object
 2   Agricultural Land( %)                      188 non-null    object
 3   Land Area(Km2)                             194 non-null    object
 4   Armed Forces size                          171 non-null    object
 5   Birth Rate                                 189 non-null    float64
 6   Calling Code                               194 non-null    float64
 7   Capital/Major City                         192 non-null    object
 8   Co2-Emissions                              188 non-null    object
 9   CPI                                        178 non-null    object
 10  CPI Change (%)                             179 non-null    object
 11  Currency-Code                              180 non-null    object
 12  Fertility Rate                             188 non-null    float64
 13  Forested Area (%)                          188 non-null    object
 14  Gasoline Price                             175 non-null    object
 15  GDP                                        193 non-null    object
 16  Gross primary education enrollment (%)     188 non-null    object
 17  Gross tertiary education enrollment (%)    183 non-null    object
 18  Infant mortality                           189 non-null    float64
 19  Largest city                               189 non-null    object
 20  Life expectancy                            187 non-null    float64
 21  Maternal mortality ratio                   181 non-null    float64
 22  Minimum wage                               150 non-null    object
 23  Official language                          190 non-null    object
 24  Out of pocket health expenditure           188 non-null    object
 25  Physicians per thousand                    188 non-null    float64
 26  Population                                 194 non-null    object
 27  Population: Labor force participation (%)  176 non-null    object
 28  Tax revenue (%)                            169 non-null    object
 29  Total tax rate                             183 non-null    object
 30  Unemployment rate                          176 non-null    object
 31  Urban_population                           190 non-null    object
 32  country                                    195 non-null    object
 33  coordinates                                195 non-null    object
dtypes: float64(7), object(27)
memory usage: 53.3+ KB

In [38]:
df_mergeado.columns=df_mergeado.columns.str.lower()

In [40]:
df_mergeado.columns=df_mergeado.columns.str.replace(" ","")

In [56]:
df_mergeado.columns=df_mergeado.columns.str.replace(":","")

In [25]:
df_mergeado.head(2)

,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [26]:
df_mergeado.columns=df_mergeado.columns.str.strip("\n")

In [27]:
df_mergeado.columns

Index(['Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

In [28]:
df_mergeado.head(2)

,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [29]:
df_mergeado= df_mergeado.rename(columns={'()':''})

In [30]:
df_mergeado.columns=df_mergeado.columns.str.replace(r'\(.*?\)', '', regex=True)

In [31]:
df_mergeado.columns=df_mergeado.columns.str.strip("\n")

In [32]:
df_mergeado.head(2)

,Density,Abbreviation,Agricultural Land,Land Area,Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change,Currency-Code,Fertility Rate,Forested Area,Gasoline Price,GDP,Gross primary education enrollment,Gross tertiary education enrollment,Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation,Tax revenue,Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [34]:
#3

df_mergeado["coordinates"].str.split(pat=",", expand=True)

                  0               1
0      ('33.93911 '    '67.709953')
1     ('41.153332 '    '20.168331')
2     ('28.033886 '     '1.659626')
3     ('42.506285 '     '1.521801')
4    ('-11.202692 '    '17.873887')
..              ...             ...
190     ('6.42375 '    '-66.58973')
191   ('14.058324 '   '108.277199')
192   ('15.552727 '    '48.516388')
193  ('-13.133897 '    '27.849332')
194  ('-19.015438 '    '29.154857')

[195 rows x 2 columns]

In [ ]:
'''
Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi
son de tipo object pero en realidad deber√≠an ser num√©ricas.
Crea una funci√≥n que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.
'''

In [35]:
df_mergeado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 34 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Density                                 195 non-null    object
 1   Abbreviation                            188 non-null    object
 2   Agricultural Land                       188 non-null    object
 3   Land Area                               194 non-null    object
 4   Armed Forces size                       171 non-null    object
 5   Birth Rate                              189 non-null    float64
 6   Calling Code                            194 non-null    float64
 7   Capital/Major City                      192 non-null    object
 8   Co2-Emissions                           188 non-null    object
 9   CPI                                     178 non-null    object
 10  CPI Change                              179 non-null    object
 11  Currency-Code                           180 non-null    object
 12  Fertility Rate                          188 non-null    float64
 13  Forested Area                           188 non-null    object
 14  Gasoline Price                          175 non-null    object
 15  GDP                                     193 non-null    object
 16  Gross primary education enrollment      188 non-null    object
 17  Gross tertiary education enrollment     183 non-null    object
 18  Infant mortality                        189 non-null    float64
 19  Largest city                            189 non-null    object
 20  Life expectancy                         187 non-null    float64
 21  Maternal mortality ratio                181 non-null    float64
 22  Minimum wage                            150 non-null    object
 23  Official language                       190 non-null    object
 24  Out of pocket health expenditure        188 non-null    object
 25  Physicians per thousand                 188 non-null    float64
 26  Population                              194 non-null    object
 27  Population: Labor force participation   176 non-null    object
 28  Tax revenue                             169 non-null    object
 29  Total tax rate                          183 non-null    object
 30  Unemployment rate                       176 non-null    object
 31  Urban_population                        190 non-null    object
 32  country                                 195 non-null    object
 33  coordinates                             195 non-null    object
dtypes: float64(7), object(27)
memory usage: 53.3+ KB

In [57]:
def cambio_formato(columnas):
    try:
        return float(columnas.replace(",","."))
    except:
        return np.nan

In [53]:
columnas=["Land Area", "Armed Forces size", "Co2-Emissions", "GDP", "Population", "Urban_population"]

df_mergeado[columnas]=df_mergeado[columnas].replace(",",".").astype(float)

In [54]:
df_mergeado.sample()

,Density,Abbreviation,Agricultural Land,Land Area,Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change,Currency-Code,Fertility Rate,Forested Area,Gasoline Price,GDP,Gross primary education enrollment,Gross tertiary education enrollment,Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation,Tax revenue,Total tax rate,Unemployment rate,Urban_population,country,coordinates
189,25,VU,15.30%,NaN,NaN,29.6,678.0,Port Vila,NaN,117.13,2.80%,VUV,3.78,36.10%,$1.31,NaN,109.30%,4.70%,22.3,Port Vila,70.3,72.0,$1.56,French,8.90%,0.17,NaN,69.90%,17.80%,8.50%,4.39%,NaN,Vanuatu,"('-15.376706 ', '166.959158')"

In [55]:
df_mergeado["Land Area"].unique()

array([nan])

In [58]:
columnas=["Land Area", "Armed Forces size", "Co2-Emissions", "GDP", "Population", "Urban_population"]    

for columna in columnas:
    df_mergeado[columna]=df_mergeado[columna].apply(cambio_formato)

In [59]:
df_mergeado.head(2)

,Density,Abbreviation,Agricultural Land,Land Area,Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change,Currency-Code,Fertility Rate,Forested Area,Gasoline Price,GDP,Gross primary education enrollment,Gross tertiary education enrollment,Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation,Tax revenue,Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,60,AF,58.10%,NaN,NaN,32.49,93.0,Kabul,NaN,149.9,2.30%,AFN,4.47,2.10%,$0.70,NaN,104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,NaN,48.90%,9.30%,71.40%,11.12%,NaN,Afghanistan,"('33.93911 ', '67.709953')"
1,105,AL,43.10%,NaN,NaN,11.78,355.0,Tirana,NaN,119.05,1.40%,ALL,1.62,28.10%,$1.36,NaN,107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,NaN,55.70%,18.60%,36.60%,12.33%,NaN,Albania,"('41.153332 ', '20.168331')"